prefer-no-csd

input {
    keyboard {
        xkb {
            layout "us,ru"
            options "grp:alt_shift_toggle"
        }
        repeat-delay 250
        repeat-rate 50
    }
    mouse {
        left-handed
        accel-speed 0.25
        accel-profile "flat"
    }
    focus-follows-mouse
}

spawn-sh-at-startup "qs -p $HOME/.config/quickshell/lockscreen/shell.qml"
spawn-at-startup "awww-daemon"
spawn-at-startup "awww" "restore"
spawn-at-startup "qs"
spawn-at-startup "wl-paste" "--type" "text" "--watch" "cliphist" "store"
spawn-at-startup "wl-paste" "--type" "image" "--watch" "cliphist" "store"

output "DP-2" {
    mode "1920x1080@165.001"
    position x=0 y=0
    scale 1.0
}

cursor {
    xcursor-theme "Obsidian"
    xcursor-size 24
}

environment {
    XCURSOR_THEME "Obsidian"
    XCURSOR_SIZE "24"
    LIBVA_DRIVER_NAME "nvidia"
    GBM_BACKEND "nvidia-drm"
    __GLX_VENDOR_LIBRARY_NAME "nvidia"
    __GL_GSYNC_ALLOWED "1"
    __GL_VRR_ALLOWED "1"
    NVD_BACKEND "direct"
}

binds {
    Mod+T { spawn "kitty"; }
    Mod+W { spawn "zen"; }
    Mod+E { spawn "kitty" "bash" "-ic" "y"; }
    Mod+D { spawn "rofi" "-show" "drun"; }
    Mod+G { spawn-sh "qs -p $HOME/.config/quickshell/lockscreen/shell.qml"; }
    Mod+Shift+S { spawn "sh" "-c" "grim -g \"$(slurp)\" - | wl-copy"; }
    Mod+V { spawn "sh" "-c" "cliphist list | rofi -p \"\" -dmenu -display-columns 2 | cliphist decode | wl-copy"; }
    Mod+Shift+V { spawn "cliphist" "wipe"; }

    XF86AudioRaiseVolume { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
    XF86AudioLowerVolume { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
    XF86AudioMute { spawn "wpctl" "set-mute"   "@DEFAULT_AUDIO_SINK@" "toggle"; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+0 { focus-workspace 10; }

    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }
    Mod+Shift+0 { move-column-to-workspace 10; }

    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Space { toggle-window-floating; }
    Mod+C repeat=false { close-window; }
}

layout {
    gaps 6
    border {
        off
    }
    focus-ring {
        off
    }
    shadow {
        on
        softness 12
        spread 0
        offset x=0 y=0
        color "#14110faa" 
    }
    background-color "transparent"
}

layer-rule {
    match namespace="^awww-daemon$"
    place-within-backdrop true
}

window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
    opacity 1.0
}

overview {
    workspace-shadow {
        off
    }
}
